{% load static %}

{% block footer %}
<head>
    <link rel="stylesheet" href="{% static '/Css/footer.css' %}" media="screen">
</head>

<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-251b" style="background-color: #751061;">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">© Copyright 2023. Todos los derechos reservados</p>
        <img class="logo-footer" src="{% static '/img/logo-footer.svg'%}">
    </div>
</footer>


{% endblock %}