{% extends "Base.html"%}
{% load static %}


{% block meta%}
<title>Sabrocito - Bebidas</title>
{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{% static '/Css/Comida.css' %}" media="screen">
</head>

<section class="u-align-center u-clearfix u-section-1" id="sec-f7a8">
  <div class="u-clearfix u-sheet u-sheet-1">
    <a href="{% url 'menu' %}" class=" u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base
      u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-palette-1-base
      u-btn-1">Volver al
      menu</a>

    <div class="u-products u-products-1">

      <div class="u-repeater u-repeater-1">
        {% for product in productos %}
        <div class="u-align-left u-container-style u-products-item u-repeater-item"
          style="background-color: #ACACAC; margin: 1rem;">
          <div class="u-container-layout u-similar-container u-container-layout-4" style="padding: 0.1rem;">

            {% if product.image %}
            <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-4"
              src="{{ product.image.url }}">
            {% else %}
            <img alt="" class="u-expanded-width u-image u-image-default u-product-control u-image-4"
              src="{% static 'img/descarga_c.jpg' %}">
            {% endif%}
            <h4 class="u-product-control u-text u-text-7">
              <a class="u-product-title-link" href="#">{{ product.name }}</a>
            </h4>
            <div class="u-product-control u-product-price u-product-price-4">
              <div class="u-price-wrapper u-spacing-10">
                <div class="u-hide-price u-old-price">$12</div>
                <div class="u-price u-text-palette-2-base" style="font-size: 1.25rem; font-weight: 700;">
                  ${{ product.price }}</div>
              </div>
            </div><!--/product_price-->
            <p class="u-text u-text-8">{{ product.description }}</p>

            <a href="{% url 'producto' product.name %}"
              class="u-border-2 u-border-grey-25 u-btn u-btn-rectangle u-button-style u-none u-product-control u-text-body-color u-btn-5"><img
                src="static/img/button-add.svg"
                style="width:2.25rem;"></a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
</section>



{% endblock %}