{% extends "base.html" %}
{% load static %}

{% block body %}
<head>
  <link rel="stylesheet" href="{% static '/Css/Pagos.css' %}" media="screen">
</head>

<section class="u-clearfix u-section-1" id="sec-621b">
  <div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <div class="u-checkout u-checkout-1">
      <div class="u-checkout-blocks-container">
        <img id="imagen-pago" style="width: 200%;" src="sabrosito-react/src/img/pago-finaliza.svg" alt="pago finaliza">
        <div class="u-checkout-block u-checkout-totals-block u-indent-30">
          <div class="u-checkout-block-container u-clearfix">
            <h5 class="u-checkout-block-header u-text">Your Order</h5>
            <div class="u-align-right u-checkout-block-content u-text">
              <div class="u-checkout-totals-table u-table u-table-responsive">
                <table class="u-table-entity">
                  <colgroup>
                    <col width="50%">
                    <col width="50%">
                  </colgroup>
                  <tbody class="u-align-right u-table-body">
                    <tr>
                      <td class="u-align-left u-border-1 u-border-grey-dark-1 u-first-column u-table-cell u-table-cell-1">Subtotal</td>
                      <td class="u-border-1 u-border-grey-dark-1 u-table-cell">$281.00</td>
                    </tr>
                    <tr>
                      <td class="u-align-left u-border-1 u-border-grey-dark-1 u-first-column u-table-cell u-table-cell-3">Total</td>
                      <td class="u-border-1 u-border-grey-dark-1 u-table-cell u-table-cell-4">$281.00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="u-checkout-placeorder-form u-form">
                <form action="#" class="u-clearfix u-form-spacing-6 u-form-vertical u-inner-form" style="padding: 10px;" source="custom" name="form-1" method="post">
                  <div class="u-form-group u-form-group-9 u-form-radiobutton">
                    <label class="u-label"></label>
                    <div class="u-form-radio-button-wrapper">
                      <input type="radio" name="radiobutton" value="Direct bank transfer">
                      <label class="u-label" for="radiobutton">Direct bank transfer</label>
                      <br>
                      <input type="radio" name="radiobutton" value="Check payments">
                      <label class="u-label" for="radiobutton">Check payments</label>
                      <br>
                      <input type="radio" name="radiobutton" value="Cash on delivery">
                      <label class="u-label" for="radiobutton">Cash on delivery</label>
                      <br>
                    </div>
                  </div>
                  <div class="u-align-right u-form-group u-form-submit">
                    <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1">Place order</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                  </div>
                  <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                  <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                  <input type="hidden" value="" name="recaptchaResponse">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style data-mode="XXL">@media (max-width: 0px) {
.u-section-1 .u-sheet-1 {
min-height: 808px;
}
.u-section-1 .u-checkout-1 {
min-height: 748px;
margin-bottom: 30px;
height: auto;
margin-top: 30px;
}
.u-section-1 .u-table-cell-1 {
font-weight: 700;
}
.u-section-1 .u-table-cell-3 {
font-weight: 700;
}
.u-section-1 .u-table-cell-4 {
font-weight: 700;
}
.u-section-1 .u-btn-1 {
margin-top: 20px;
}
}</style>
</section>

{% endblock %}