{% extends "Base.html" %}
{% load static %}

{% block body %}
<head>
  <!--link rel="stylesheet" href="{% static '/Css/Pagos.css' %}" media="screen"-->
  <link rel="stylesheet" href="static/Css/Pagos.css" media="screen">
</head>

<section class="u-clearfix u-section-1" id="sec-d084">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
  </section>
  <section class="u-align-center u-clearfix u-grey-10 u-section-2" id="sec-b683">
    <div class="u-clearfix u-sheet u-sheet-1">
      <lt-highlighter class="lt-highlighter--grid-item" style="display: none; z-index: 1 !important;">
        <lt-div spellcheck="false" class="lt-highlighter__wrapper" style="width: 346px; height: 61px; transform: none !important; transform-origin: 172.8px 30.25px !important; zoom: 1 !important; margin-top: 60px; margin-left: 397px;">
          <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 346px; height: 63px;"></lt-div>
        </lt-div>
      </lt-highlighter>
      <h2 class="u-text u-text-default u-text-1">Information</h2>
      <div class="u-accordion u-spacing-15 u-accordion-1">
        <div class="u-accordion-item">
          <a class="active u-accordion-link u-active-white u-button-style u-hover-white u-text-active-palette-2-base u-text-hover-palette-2-base u-white u-accordion-link-1" id="link-accordion-0781" aria-controls="accordion-0781" aria-selected="true">
            <lt-highlighter class="lt-highlighter--grid-item" style="display: none;">
              <lt-div spellcheck="false" class="lt-highlighter__wrapper lt-highlighter__wrapper-invisible" style="width: 212px; height: 26px; transform: none !important; transform-origin: 106px 12.8px !important; zoom: 1 !important; margin-top: 20px; margin-left: 30px;">
                <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 212px; height: 26px;">
                  <canvas class="lt-highlighter__canvas" width="212" height="23" style="display: none; top: 2px; left: 0px;"></canvas>
                </lt-div>
              </lt-div>
            </lt-highlighter>
            <span class="u-accordion-link-text">Consectetur adipiscing elit</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" ><use xlink:href="#svg-d827"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-d827" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
          </a>
          <div class="u-accordion-active u-accordion-pane u-container-style u-white u-accordion-pane-1" id="accordion-0781" aria-labelledby="link-accordion-0781">
            <div class="u-container-layout u-valign-top u-container-layout-1">
              <h5 class="u-text u-text-2">Donec pretium vulputate sapien nec sagittis aliquam malesuada.</h5>
              <p class="u-text u-text-3">Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <a href="#" class="u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-base u-radius-6 u-btn-1">learn more</a>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-active-white u-button-style u-hover-white u-text-active-palette-2-base u-text-hover-palette-2-base u-white u-accordion-link-2" id="link-accordion-4c47" aria-controls="accordion-4c47" aria-selected="false">
            <span class="u-accordion-link-text">Turpis massa tincidunt dui</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" ><use xlink:href="#svg-e2d7"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-e2d7" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
          </a>
          <div class="u-accordion-pane u-container-style u-white u-accordion-pane-2" id="accordion-4c47" aria-labelledby="link-accordion-4c47">
            <div class="u-container-layout u-valign-top u-container-layout-2">
              <p class="u-text u-text-4">Mattis nunc sed blandit libero volutpat. Tortor at risus viverra adipiscing at in tellus. Purus ut faucibus pulvinar elementum.&nbsp;</p>
              <ul class="u-text u-text-5">
                <li>Tortor at risus viverra adipiscing at in tellus.</li>
                <li>Purus ut faucibus pulvinar elementum.</li>
                <li>Blandit turpis cursus in hac habitasse.</li>
                <li>Enim eu turpis egestas pretium aenean pharetra.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="u-accordion-item">
          <a class="u-accordion-link u-active-white u-button-style u-hover-white u-text-active-palette-2-base u-text-hover-palette-2-base u-white u-accordion-link-3" id="link-accordion-a910" aria-controls="accordion-a910" aria-selected="false">
            <span class="u-accordion-link-text">Nisl suscipit adipiscing bibendum</span><span class="u-accordion-link-icon u-icon u-text-grey-40 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 42 42" ><use xlink:href="#svg-ba02"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 42 42" x="0px" y="0px" id="svg-ba02" style="enable-background:new 0 0 42 42;"><polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "></polygon></svg></span>
          </a>
          <div class="u-accordion-pane u-container-style u-white u-accordion-pane-3" id="accordion-a910" aria-labelledby="link-accordion-a910">
            <div class="u-container-layout u-valign-top u-container-layout-3">
              <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double click to start editing the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
      <a href="https://nicepage.best" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-2">Botón</a>
      <a href="https://nicepage.best" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-3">Botón</a>
    </div>
  </section>

{% endblock %}