{% load static %}

{% block top %}

<header class="u-clearfix u-header u-header" id="sec-35f7">
  <div class="u-clearfix u-sheet u-sheet-1">
    <lt-highlighter style="display: none; z-index: 1 !important;">
      <lt-div spellcheck="false" class="lt-highlighter__wrapper"
        style="width: 40px; height: 27px; transform: none !important; transform-origin: 20px 12.8px !important; zoom: 1 !important; margin-top: -30px; margin-left: 1003px;">
        <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 40px; height: 26px;"></lt-div>
      </lt-div>
    </lt-highlighter>
    <a href="" class="u-image u-logo u-image-1">
      <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
    </a>
    <button class="btn-ubi" style="width: 300px; height: 65px;">Cll ### b ###</button>
    <nav class="u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
        <a class="u-button-style u-custom-border u-custom-border-color u-custom-borders u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
          href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24">
            <use xlink:href="#menu-hamburger"></use>
          </svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g>
              <rect y="1" width="16" height="2"></rect>
              <rect y="7" width="16" height="2"></rect>
              <rect y="13" width="16" height="2"></rect>
            </g>
          </svg>
        </a>
      </div>
      <div class="u-nav-container">
        <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'index' %}" style="padding: 10px;">Inicio</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'menu' %}" style="padding: 10px;">Menu</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'login' %}" style="padding: 10px;">Iniciar sesion</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'perfil' %}" style="padding: 10px;">Perfil</a>
          </li>
        </ul>
      </div>
      <div class="u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'menu' %}">Menu</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'login' %}">Iniciar sesion</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'perfil' %}">Perfil</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
   
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'menu' %}">Menu</a>
    
    <!--Carrito-->
    <div class="container-icon">
      <div class="container-cart-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="icon-cart"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
          />
        </svg>
        <div class="count-products">
          <span id="contador-productos">0</span>
        </div>
      </div>

      <div class="container-cart-products hidden-cart">
        <div class="row-product hidden">
          <div class="cart-product">
            <div class="info-cart-product">
              <span class="cantidad-producto-carrito">1</span>
              <p class="titulo-producto-carrito">Zapatos Nike</p>
              <span class="precio-producto-carrito">$80</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="icon-close"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </div>
        </div>

        <div class="cart-total hidden">
          <h3>Total:</h3>
          <span class="total-pagar">$200</span>
          <a href="{% url 'pagos'%}">Prueba</a>
        </div>
        <p class="cart-empty">El carrito está vacío</p>
        <a href="{% url 'pagos'%}">Prueba</a>
      </div>
    </div>
  </div>

</header>

<section class="modal">
  <div class="modal__container">
    <a href="" class="modal__close">Cerrar</a>
    <h2 class="modal__title">Ubicacion del restaurante</h2>
    
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63619.73116557821!2d-74.13291392987465!3d4.7295100828102!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f84fb3a1b2343%3A0x659550454c263a6c!2sMcDonald&#39;s!5e0!3m2!1sen!2sco!4v1689877648950!5m2!1sen!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
  </div>
</section>


<script src="{% static 'js/carrito.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}