{% load static %}

{% block top %}

<header class="u-clearfix u-header u-header" id="sec-35f7">
  <div class="u-clearfix u-sheet u-sheet-1">
    <lt-highlighter style="display: none; z-index: 1 !important;">
      <lt-div spellcheck="false" class="lt-highlighter__wrapper"
        style="width: 40px; height: 27px; transform: none !important; transform-origin: 20px 12.8px !important; zoom: 1 !important; margin-top: -30px; margin-left: 1003px;">
        <lt-div class="lt-highlighter__scroll-element" style="top: 0px; left: 0px; width: 40px; height: 26px;"></lt-div>
      </lt-div>
    </lt-highlighter>
    <a href="" class="u-image u-logo u-image-1">
      <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
        <a class="u-button-style u-custom-border u-custom-border-color u-custom-borders u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
          href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24">
            <use xlink:href="#menu-hamburger"></use>
          </svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
            <g>
              <rect y="1" width="16" height="2"></rect>
              <rect y="7" width="16" height="2"></rect>
              <rect y="13" width="16" height="2"></rect>
            </g>
          </svg>
        </a>
      </div>
      <div class="u-nav-container">
        <ul class="u-nav u-spacing-20 u-unstyled u-nav-1">
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'index' %}" style="padding: 10px;">Inicio</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'menu' %}" style="padding: 10px;">Menu</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'login' %}" style="padding: 10px;">Iniciar sesion</a>
          </li>
          <li class="u-nav-item"><a
              class="u-button-style u-nav-link u-text-active-palette-3-base u-text-grey-90 u-text-hover-palette-3-base"
              href="{% url 'perfil' %}" style="padding: 10px;">Perfil</a>
          </li>
        </ul>
      </div>
      <div class="u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'index' %}">Inicio</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'menu' %}">Menu</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'login' %}">Iniciar sesion</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="{% url 'perfil' %}">Perfil</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
   
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'menu' %}">Menu</a>
    <div class="u-container-style u-grey-10 u-group u-group-1">
      <div class="u-container-layout u-container-layout-1"><span class="u-icon u-icon-1"><svg class="u-svg-link"
            preserveAspectRatio="xMidYMin slice" viewBox="0 0 54.757 54.757" style="">
            <use xlink:href="#svg-4a3d"></use>
          </svg><svg class="u-svg-content" viewBox="0 0 54.757 54.757" x="0px" y="0px" id="svg-4a3d"
            style="enable-background:new 0 0 54.757 54.757;">
            <g>
              <path d="M27.557,12c-3.859,0-7,3.141-7,7s3.141,7,7,7s7-3.141,7-7S31.416,12,27.557,12z M27.557,24c-2.757,0-5-2.243-5-5
s2.243-5,5-5s5,2.243,5,5S30.314,24,27.557,24z"></path>
              <path d="M40.94,5.617C37.318,1.995,32.502,0,27.38,0c-5.123,0-9.938,1.995-13.56,5.617c-6.703,6.702-7.536,19.312-1.804,26.952
L27.38,54.757L42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617z M41.099,31.431L27.38,51.243L13.639,31.4
C8.44,24.468,9.185,13.08,15.235,7.031C18.479,3.787,22.792,2,27.38,2s8.901,1.787,12.146,5.031
C45.576,13.08,46.321,24.468,41.099,31.431z"></path>
            </g>
          </svg></span>
      </div>
    </div>
  </div>
</header>
{% endblock %}