/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.imagen{
    background-image:url('./Components/Paginas/img/descarga.jpg');
    width:700px;
    height:400px;
    object-fit: cover;
    flex:1;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
}

/* Barra superior */
.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.contact-info {
  margin-left: 20px;
}

.social-media-icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.social-media-icons a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

/* Barra superior o menú */
.header {
  background-color: #751061;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 24px;
  margin-right: 20px;
}

.location {
  margin-right: auto;
}

.menu ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
}

.cart-icon {
  margin-left: 20px;
}

/* Banner */
.banner {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.banner img {
  width: 100%;
  margin-top: 20px;
}

.banner-content {
  margin-bottom: 20px;
}

.banner-buttons button {
  margin-right: 10px;
}

/* Ofertas */
.ofertas {
  background-color: #fff;
  padding: 20px;
}

.oferta-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.oferta-container img {
  width: 200px;
  margin-right: 20px;
}

.oferta-details {
  flex-grow: 1;
}

/* Pie de página */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
.menu-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-options {
  display: flex;
  justify-content: space-between;
}

.menu-option {
  text-align: center;
}

.menu-option img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-option h2 {
  font-size: 18px;
}